.main .slider {
  position: relative;
  margin-top: 60px;
}
.main .slider span.swiper-pagination-bullet {
  background: var(--swiper-bullet-cream);
  width: 1rem;
  height: 1rem;
}
.main .slider span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--swiper-bullet-orange);
}
.main .slider img {
  width: 100%;
  height: "auto";
}
.main .slider .banner__text {
  position: absolute;
  top: 30%;
  left: 10%;
  color: var(--text-color-cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.main .slider .banner__text h1#title {
  font-size: 4rem;
  margin: 0;
  color: var(--text-color-cream);
}
.main .slider .banner__text p {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: var(--text-color-cream);
  text-align: center;
}
.main .slider .banner__text .menu-button {
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  background-color: var(--background-white);
  border: 1px;
  border-radius: 50px;
  padding: 11px 39px;
  gap: 10px;
  font-size: 1.125rem;
  font-family: "Noto Serif";
  color: var(--text-color-green);
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 425px) {
  .main .slogan {
    display: none;
  }
  .main .menu-button {
    margin-top: 0.5rem;
    padding: 10px 18px;
  }
  .main .slider .banner__text {
    top: 10%;
  }
  .main .slider .banner__text .menu-button {
    margin-top: 0.5rem;
  }
}
.main .welcome {
  display: flex;
  min-height: fit-content;
  background-color: var(--background-cream);
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.main .welcome .heading1 {
  color: var(--background-green);
}
.main .special-menu {
  height: 52rem;
  background-color: var(--background-green);
  align-content: center;
}
.main .special-menu h1 {
  text-align: center;
}
.main .order {
  min-height: 52rem;
  background-color: var(--background-cream);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.main .order h1 {
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  margin-top: 2rem;
  color: var(--text-color-green);
}
.main .order p {
  margin-top: 0;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
  max-width: 1000px;
}
.main .order .column-container {
  gap: 1.5rem;
  flex-wrap: wrap;
}
